<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>To scan your face</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Bethany Elingston.otf</string>
		<string>PlusJakartaSans-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
